@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:300,400&display=swap');

.text {
  font-size: calc(8px + 1vw);
  font-family: 'Merriweather Sans';
  margin: 0 auto;
}

.highlighted-text {
  color: #119DA4;
}

.title {
  font-size: calc(10px + 2vw);
  font-family: 'Merriweather Sans';
  width: fit-content;
  margin: 0 auto;
  align-items: center;
  padding: 25px 0 25px 0;
}

.app-header {
  background-color: #3C3C42;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.section-header {
  background-color: #323237;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

